.loading {
  height: 15px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
}

.bar {
  width: 30px;
  height: 10px;
  background-color: rgba($color: #fff, $alpha: 0.5);
  animation-name: bar;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

@keyframes bar {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}
