@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700');

* {
  outline: none;
}

body {
  margin: 0;
  padding: 0;

  background-color: #f1f1f1;
  color: #202124;
  font-family: 'Google Sans', arial, sans-serif;
  &.dark {
    background-color: #202124;
    color: #fff;
    font-family: 'Google Sans', arial, sans-serif;
  }
}

.reload-weather {
  color: #ffffff;
  background-color: #eb6f51;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  &:hover,
  &:active {
    opacity: 0.8;
  }
}

.page {
  padding-top: 20px;
  &__info {
    text-align: center;
    margin: 20px 0;
  }
  &__intro {
    height: 100vh;

    &--block {
      background-color: rgba($color: #fff, $alpha: 0.5);
      padding: 50px;
      max-width: 50px;
      max-height: 70px;
    }
  }
}

.search {
  text-align: center;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 100%;
  input {
    padding: 0.7rem 1.5rem;
    font-size: 16px;
    width: 50vw;
    border-radius: 25px;
    border: 1px solid rgba($color: #f8f8f8, $alpha: 0.5);
    background-color: #ffffff;
    box-shadow: rgb(85 85 85) 0px 3px 6px 0px;
  }
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .card {
    width: 80vw !important;
  }
  .search input {
    width: 70vw !important;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .card {
    width: 85vw !important;
  }
  .search input {
    width: 70vw !important;
  }
}
